azure-service-project/.terraform/
azure-service-project/terraform.tfstate
azure-service-project/terraform.tfstate.backup
azure-service-project/.terraform.lock.hcl
azure-service-project/terraform.tfvars
azure-service-project/python-server/.env
azure-service-project/python-server/venv
node-server/node_modules
node-server/package-lock.json
node-server/.env