azure-service-project/.terraform/
azure-service-project/terraform.tfstate
azure-service-project/terraform.tfstate.backup
azure-service-project/.terraform.lock.hcl
azure-service-project/terraform.tfvars

azure-service-project/python-server/.env
azure-service-project/python-server/venv

azure-service-project/node-server/node_modules
azure-service-project/node-server/package-lock.json
azure-service-project/node-server/.env  
client_web/node_modules
client_web/package-lock.json


client-mobile/app/ips.tsx

client-mobile/.expo/         
client-mobile/node_modules/   
client-mobile/scripts/       
client-mobile/.gitignore       
client-mobile/package-lock.json  
client-mobile/tsconfig.json   
client-mobile/expo-env.d.ts    
client-mobile/app.json        
client-mobile/constants/   
client-mobile/hooks/         
client-mobile/README.md       
